body,ul,h1,h2,h3,h4,h5,h6,input,p,dl,dt,dd {
 	margin: 0px;
 	padding: 0px;
}
a {
 	color: #050505;

 	text-decoration: none;
}
li {
 	list-style: none;
}

.w {
	width: 1300px;
	margin: 0px auto;
}
input,img {
	/*清除默认边框*/
	border: 0;
	/*清除默认轮廓线*/
	outline: 0;
	/*垂直对齐*/
	vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
body {
	/*设置整个页面的文字大小*/
	font: 14px arial, 'microsoft yahei' , '宋体';
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
i,em {
  font-style: normal;
}




/*<meta name="viewport" content="width=device-width, 
initial-scale=1.0,maximum-scale=1.0, user-scalable=0" />
移动wed 开发必写属性
*/

