.top-nav .w {
  display: flex;
  justify-content: space-between;
}
.top-nav .w h1 {
  width: 247px;
  height: 96px;
  color: transparent;
  cursor: pointer;
  background: url(../picture/DBATMOUBPGENVOYS\(JRLH4X.png) no-repeat;
  background-size: 100%;
}
.top-nav .w .Land div {
  float: left;
  margin-top: 40px;
}
.top-nav .w .Land div:nth-child(1) input {
  box-sizing: border-box;
  border: 1px solid #a5257c;
  height: 36px;
}
.top-nav .w .Land div:nth-child(1) input:nth-child(1) {
  padding-left: 5px;
}
.top-nav .w .Land div:nth-child(1) input:nth-child(2) {
  width: 50px;
  color: #fff;
  cursor: pointer;
  background-color: #a5257c;
}
.top-nav .w .Land div:nth-child(2) {
  margin-left: 30px;
}
.top-nav .w .Land div:nth-child(2) span {
  font-size: 16px;
  line-height: 36px;
}
.top-nav .w .Land div:nth-child(2) span a {
  color: #999;
}
.top-nav .w .Land div:nth-child(2) a:hover {
  color: #a5257c;
}
.nav {
  background-color: #a5257c;
}
.nav ul:nth-child(1) {
  display: flex;
  text-align: center;
  line-height: 63px;
  font-size: 18px;
}
.nav ul:nth-child(1) li {
  width: 125px;
  height: 63px;
  border-bottom: 2px solid transparent;
}
.nav ul:nth-child(1) li a {
  color: #eee;
}
.nav ul:nth-child(1) li:nth-child(2) {
  position: relative;
}
.nav ul:nth-child(1) li:nth-child(2) ul {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #fff;
}
.nav ul:nth-child(1) li:nth-child(2) ul a {
  color: #999;
}
.nav ul:nth-child(1) li:nth-child(2) ul li:hover {
  background-color: #a5257c;
}
.nav ul:nth-child(1) li:nth-child(2):hover ul {
  display: block;
}
.nav ul > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid #fff;
}
.Rotation-chart .visible-window {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.Rotation-chart .visible-window ul {
  display: flex;
  width: 200%;
}
.Rotation-chart .visible-window ul li {
  width: 50%;
}
.Rotation-chart .visible-window ul li img {
  width: 100%;
}
.Rotation-chart .visible-window span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  font-size: 40px;
  width: 50px;
  height: 50px;
  color: #ccc;
  cursor: pointer;
}
.Rotation-chart .visible-window .icon-jiantou {
  right: 0;
}
.Rotation-chart .visible-window div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  margin: auto;
  width: 200px;
  height: 5px;
}
.Rotation-chart .visible-window div i {
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #ccc;
}
.Rotation-chart .visible-window div i:nth-child(2) {
  left: 60px;
}
.Rotation-chart .visible-window div i.yans {
  background: #a5257c;
}
.Rotation-chart .visible-window:hover span {
  display: block;
}
